html, body {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Хедер */

header {
  background-color: white;
  height: 55px;
  position: relative;
}

.header-logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  margin-left: -69px;
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 73px;
  padding-right: 73px;
  line-height: 55px;
}

.main-nav li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.main-nav li:nth-child(1), .main-nav li:nth-child(2) {
  float: left;
  margin-right: 147px;
}

.main-nav li:nth-child(3), .main-nav li:nth-child(4) {
  float: right;
  text-align: right;
  margin-left: 157px;
}

.main-nav a {
  color: #000000;
  text-decoration: none;
}

.intro {
  height: 508px;
  background: url("../img/back-2.png"), url("../img/back.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  /* background: url("../img/back-2.png") no-repeat; */
}

.intro-logo {
  min-height: 352px;
  width: 458px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 76px;
}

.introduction-text {
  background: #fff;
  height: 216px;
}

.introduction-text h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
  text-align: center;
  padding-top: 61px;
}

.introduction-text p {
  margin: 0;
  text-transform: uppercase;
  /* line-height: 26px; */
  font-size: 14px;
  text-align: center;
  padding-top: 37px;
}

.preferences-1-left {
  height: 256px;
  width: 33.33%;
  background-color: #81b3d2;
  float: left;
  color: white;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.preferences-1-left span {
  margin: 0;
  text-align: center;
}

.preferences-1-left .span-1 {
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 21px;
}

.preferences-1-left .span-2 {
  margin: 25px auto;
}

.preferences-1-left .span-2, .preferences-1-left .span-3 {
  font-size: 14px;
  line-height: 21px;
}

.preferences-1-right {
  background: url("../img/pref1.jpg");
  background-position: left center;
  height: 256px;
  width: 66.66%;
  float: left;
}

.feature-item {
  float: left;
  width: 33.33%;
  background: #fff;
  height: 330px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.feature-home {
  background-image: url("../img/logo-home.png");
  background-repeat: no-repeat;
  background-position: center 60px;
}

.feature-eat {
  background-image: url("../img/logo-burger.png");
  background-repeat: no-repeat;
  background-position: center 60px;
}

.feature-present {
  background-image: url("../img/logo-present.png");
  background-repeat: no-repeat;
  background-position: center 60px;
}

.feature-item span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
}

.feature-item p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 85px;
  margin-top: 22px;
}

.preferences-2-left {
  background: url("../img/pref2.jpg");
  background-position: left center;
  height: 256px;
  width: 66.66%;
  float: left;
}

.preferences-2-right {
  height: 256px;
  width: 33.33%;
  background-color: #81b3d2;
  float: left;
  color: white;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.preferences-2-right span {
  margin: 0;
  text-align: center;
}

.preferences-2-right .span-1 {
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 21px;
}

.preferences-2-right .span-2 {
  margin: 25px auto;
}

.preferences-2-right .span-2, .preferences-2-right .span-3 {
  font-size: 14px;
  line-height: 21px;
}

.preferences-2-right .span-3 {
  text-transform: uppercase;
}

.preference-item {
  float: left;
  width: 33.33%;
  background: #eee;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preference-item span {
  margin: 0;
  text-align: center;
}

.preference-item .span-1 {
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 21px;
}

.preference-item .span-2 {
  margin: 25px auto;
}

.preference-item .span-2, .preference-item .span-3 {
  font-size: 14px;
  line-height: 21px;
}

.preference-item .span-3 {
  text-transform: uppercase;
}

.search-form {
  height: 291px;
  background-color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.search-form span {
  font-weight: bold;
  font-size: 30px;
}

.search-form p {
  margin-top: 38px;
  margin-bottom: 54px;
}

.button {
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button span {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.map {
  height: 593px;
  background: url("../img/map.jpg");
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: center; */
}

.footer {
  background-color: white;
  opacity: 0.9;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .span-1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 48px;
}

.social-btn {
  background-color: #81b3d2;
  width: 46px;
}